@using Resume.Bussines.Tools
@model Resume.DataAccessLayer.ViewModels.AboutMe.ClientSideEditAboutMeViewModel

<div class="header-image">
    <div class="js-parallax" style="background-image: url(@SiteTools.AboutMeBackground@Model.BackgroundImageName);"></div>
</div>